{{#section 'scripts'}}
	<script src="/chatbot/api/settings"></script>
	<script src="/chatbot/medal/settings"></script>
	<script src="/javascript/chatbot/medal/client.js"></script>
	<script type="text/javascript" script-name="bangers" src="http://use.edgefonts.net/bangers.js"></script>
{{/section}}

{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="https://daneden.github.io/animate.css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/chatbot/medal/style.css" />
{{/section}}


<div class="video-container" id="video-container">
	<video></video>
</div>
