<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"></div>
	<div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
		<form method="post">
			<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
				<div class="mdl-card__title mdl-card--expand mdl-color--blue-400 mdl-color-text--white">
					<h2 class="mdl-card__title-text">Welcome Back!</h2>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<div>
						<label class="mdl-button mdl-js-button mdl-button--icon" for="email">
							<i class="material-icons">email</i>
						</label>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
							<input class="mdl-textfield__input" type="text" name="email" id="email" value="camalot@gmail.com">
							<label class="mdl-textfield__label" for="email">Email Address</label>
						</div>
					</div>
					<div>
						<label class="mdl-button mdl-js-button mdl-button--icon" for="password">
							<i class="material-icons">https</i>
						</label>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="password" name="password" id="password" value="">
							<label class="mdl-textfield__label" for="password">Password</label>
						</div>
					</div>
				</div>
				<div class="mdl-card__supporting-text">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored ma5 pull-right">Login</button>
				</div>
				{{!-- <div class="mdl-card__title mdl-card--expand mdl-color--blue-400 mdl-color-text--white">

					<h2 class="mdl-card__title-text">Welcome Back!</h2>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Facebook</button>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored pull-right">Google</button>
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Microsoft</button>
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored pull-right">Dropbox</button>
				</div>--}}
				<div class="mdl-card__actions mdl-card--border">
					<a href="/forgot-password" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">Forgot Password<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
					<a href="/signup" class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">Signup<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
				</div>
			</div>
		</form>
	</div>
	<div class="demo-cards mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"></div>
</div>
