
body {
	font-family: "Roboto", "Helvetica", sans-serif !important;
	margin: 0;
	padding: 0;
	background: transparent none;
	background-color: #333;
	box-sizing: border-box;
	overflow: hidden;
}

.background {
	background: none;
}

.widget-EventList,
.widget-EventList * {
	box-sizing: border-box;
}

.widget-EventList li {
}

.widget-EventList {
	font-weight: 700;
	font-size: 30px;
	color: #FAFAFA;
	background: transparent none !important;
	position: relative;
	
	overflow: hidden;
	list-style: none;
	padding:0;
	margin:-20px 0 0 0;
	padding-top:20px;
	height: 80px;
	text-transform: lowercase;
	left: 0;
	bottom: 0;

}

.widget-EventList li {
	font-weight: 700;
	font-size: 30px;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.7), 0 0 6px rgba(0, 0, 0, 0.7);
	margin-top: 1px;
	text-overflow: ellipsis;
	padding: 0 0 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	display: none;
	text-align: center;

}

.widget-EventList li div {
	display: inline-block;
}

.widget-EventList li .message {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	padding: 0 5px 0 5px;
}

.widget-EventList li .tag {
	font-size: 0;
	line-height: 0.9em;
	top: 0;
	left: 0;
	position: absolute;
	width: 30px;
	height: 60px;
	background-position: center 27px;
	background-repeat: no-repeat;
}
