<div id="alert" class="animated initialHide">
	<div id="host">
		<div id="logo"></div>
		<div id="displayName"></div>
		<div id="twitch"></div>
		<div id="sound"><embed src="" hidden="true" /></div>
	</div>
</div>

{{#section 'scripts'}}
	<script src="/chatbot/api/settings"></script>
	<script src="/chatbot/caster/settings"></script>
	<script src="/javascript/chatbot/caster/client.js"></script>
{{/section}}

{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/stylesheets/chatbot/caster/style.css" />
{{/section}}
